<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082041142885-2kd862m8qfgfhnfg8q4p0kh06i8h6m4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082041142885-2kd862m8qfgfhnfg8q4p0kh06i8h6m4h</string>
	<key>API_KEY</key>
	<string>AIzaSyCVtLFfELupL_5DACf083O6Bo2iyBmwVqo</string>
	<key>GCM_SENDER_ID</key>
	<string>1082041142885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarento.technologies.Vote</string>
	<key>PROJECT_ID</key>
	<string>vote-eef68</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-eef68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082041142885:ios:37ea8a7b49372c98</string>
	<key>DATABASE_URL</key>
	<string>https://vote-eef68.firebaseio.com</string>
</dict>
</plist>